#!/bin/sh

export OPENAI_API_KEY=sk-proj-7h...
export PUSHCUT_WEBHOOK_SECRET=uzJ...

cd ~/bambu-monitor

./last_avi | ./loop ./last_image | ./loop ./scp_image user@site.com:/directory/ | ./loop ./check | ./loop ./notify Bambu
